<footer class="bg-gray-200">
  <div class="grid grid-cols-1 md:grid-cols-2 mx-auto items-center max-w-6xl py-4 px-4">
    <div class="row-span-full">
      <a routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="assets/public/logo.svg" width="50" alt="Imagem de ondas Logo">
        <span class="self-center text-2xl font-semibold whitespace-nowrap text-gray-800">Tech Waves</span>
      </a>
      <p class="self-center text-sm font-normal text-gray-800 py-5" >
        Seu ecommerce de itens de informática a 1 clique de distância
      </p>
      <div>
        <p class="self-center text-sm font-bold text-gray-800 mb-3">
          Meios de Pagamento
        </p>
        <div class="flex flex-wrap gap-2 pb-5">
          <img src="./../../../../assets/public/payments/visa.svg" alt="Visa" class="h-8">
          <img src="./../../../../assets/public/payments/mastercard.svg" alt="Mastercard" class="h-8">
          <img src="./../../../../assets/public/payments/pix.svg" alt="Elo" class="h-8">
          <img src="./../../../../assets/public/payments/boleto.svg" alt="PayPal" class="h-8">
        </div>
      </div>
    </div>
    <div class="col-span-1">
     <div class="grid grid-cols-2 md:grid-cols-4 gap-5">
      <div>
        <p class="self-center text-sm font-bold text-gray-800">
          Institucional
        </p>
        <div class="max-w-md space-y-1 list-none list-inside text-gray-400">
          <a routerLink="/" class="py-1 block">
            Sobre Nós
          </a>
          <a routerLink="" class="py-1 block">
            Política de Privacidade
          </a>
          <a routerLink="/" class="py-1 block">
            Trabalhe Conosco
          </a>
          <a routerLink="/" class="py-1 block">
            Regulamentos
          </a>
          <a routerLink="/" class="py-1 block">
            Programa de Afiliados
          </a>
        </div>
      </div>
      <div>
        <p class="self-center text-sm font-bold text-gray-800">
          Ajuda
        </p>
        <div class="max-w-md space-y-1 list-none list-inside text-gray-400">
          <a routerLink="/" class="py-1 block">
            Trocas e devoluções
          </a>
          <a routerLink="" class="py-1 block">
            Entregas
          </a>
          <a routerLink="/" class="py-1 block">
            Minha Conta
          </a>
          <a routerLink="/" class="py-1 block">
            Meus Pedidos
          </a>
          <a routerLink="/" class="py-1 block">
            Pagamentos
          </a>
          <a routerLink="/" class="py-1 block">
            Segurança & Privacidade
          </a>
        </div>
      </div>
      <div>
        <p class="self-center text-sm font-bold text-gray-800">
          Central de Vendas
        </p>
        <div class="max-w-md space-y-1 list-none list-inside text-gray-400">
          <a routerLink="/" class="py-1 block">
            (19) 99999 - 9999
          </a>
        </div>
      </div>
      <div>
        <p class="self-center text-sm font-bold text-gray-800">
          Redes sociais
        </p>
        <div class="flex flex-wrap gap-0 ">
          <a href="#" class="hover:brightness-75">
            <img src="../../../../../assets/public/social-network/facebok.svg" width="30" alt="facebook icon">
          </a>
          <a href="#" class="hover:brightness-75">
            <img src="../../../../../assets/public/social-network/instagram.svg" width="30" alt="instagram icon">
          </a>
          <a href="#" class="hover:brightness-75">
            <img src="../../../../../assets/public/social-network/linkedin.svg" width="30" alt="linkedin icon">
          </a>
          <a href="#" class="hover:brightness-75">
            <img src="../../../../../assets/public/social-network/youtube.svg" width="30" alt="youtube icon">
          </a>
        </div>
      </div>
     </div>
    </div>
  </div>
</footer>
