<header>
  <div class="bg-emerald-900">
    <div class="flex justify-between mx-auto items-center max-w-6xl py-2 px-4">
      <p class="font-bold text-white text-sm">
        Produtos com até 70% off
      </p>
      <p class="font-normal text-white text-sm">
        Tire suas dúvidas
      </p>
    </div>
  </div>
  <app-public-navbar />
  <div class="bg-gray-700 h-80 flex items-center justify-bet">
    <div class="mx-auto max-w-6xl p-4">
      <div class="flex flex-wrap justify-between items-center">
        <div class="self-center text-left md:max-w-1/2">
          <h1 class="font-bold text-2xl text-white">
            Encontre tudo aquilo que você precisa para seu computador em um só lugar
          </h1>
        </div>
        <div class="hidden md:flex mt-6 md:mt-0 max-w-1/2">
          <img src="assets/public/header-image.png" width="480" alt="Imagem de computador">
        </div>
      </div>
    </div>
  </div>
</header>
