<app-header [isCartScreen]="true"/>
<div class="mx-auto max-w-6xl h-100">
  @if(isThereAnyItemInCart){
    <div class="grid-cols-1 grid md:grid-cols-3 gap-5 my-5">
      <div class="md:col-span-2 border border-gray-200 rounded-lg shadow-sm py-5 px-5">
        <p class="text-gray-600 font-bold text-md">
          Meu carrinho
        </p>
      </div>
      <div class="md:col-span-1 border border-gray-200 rounded-lg shadow-sm py-5 px-5 self-start">
        <p class="text-gray-600 font-bold text-md">
          Sua compra
        </p>
      </div>
    </div>
  }@else {
    <app-empty-cart />
  }
</div>
<app-footer />
