

<nav>
  <div class="bg-emerald-400">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-6xl p-4">
        <a routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="assets/public/logo.svg" width="50" alt="Imagem de ondas Logo">
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Tech Waves</span>
        </a>
        <div class="relative hidden md:block w-100">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
          </div>
          <input type="text" id="search-navbar" class="block w-full p-2 ps-10 text-sm text-gray-900 rounded-lg bg-white focus:border-blue-500 focus:border-blue-500" placeholder="O que você está procurando?">
        </div>
        <div class="flex justify-between gap-5">
          <div class="md:cursor-pointer">
            <a routerLink="/login">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
              </svg>
            </a>
          </div>
          <div class="md:cursor-pointer relative">
            <a href="/cart">
              @if(cartService.getProductsAdded()().length > 0) {
                <span class="absolute top-0 left-0 inline-flex items-center justify-center w-3 h-3 p-3 text-sm font-medium bg-green-100 text-green-800 text-xs rounded-full -translate-x-1/2 -translate-y-1/2">
                  {{cartService.getProductsAdded()().length}}
                </span>
              }
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white  ">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
              </svg>
            </a>
          </div>
        </div>
      </div>
  </div>
  <div class="block md:hidden w-full bg-gray-100 p-2 relative">
    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
      <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
      </svg>
    </div>

    <input
      type="text"
      id="search-navbar"
      class="block w-full p-2 pl-10 text-sm text-gray-900 rounded-lg bg-gray-200 focus:border-blue-500 focus:ring-blue-500"
      placeholder="O que você está procurando?"
    />
  </div>
  <div class="shadow-md">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-6xl p-4 bg-white">
      <button type="button" (click)="toggleMenu()" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-emerald-100 focus:outline-none focus:ring-emerald-100">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
      <div class="items-center justify-between font-medium hidden w-full md:flex md:w-auto ">
        <ul class="flex flex-col p-4 md:p-0 mt-4 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">
            <li>
              <button class="flex items-center w-full py-2 px-3 text-gray-900 rounded-sm md:w-auto  md:hover:text-blue-400 md:p-0 text-gray-600 gap-1 md:hover:cursor-pointer" (click)="toggleDropdown()">
                @if(isDropdownOpened){
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                  </svg>
                }@else {
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                  </svg>
                }
                Todas as categorias
              </button>
            </li>
            <li>
                <a href="#" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-400 md:p-0 ">Computadores</a>
            </li>
            <li>
                <a href="#" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-400 md:p-0 ">Teclados</a>
            </li>
            <li>
                <a href="#" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-400 md:p-0 ">Headphones</a>
            </li>
        </ul>
      </div>
    </div>
  </div>

  @if(isMenuOpen){
    <div class="md:hidden bg-white shadow-md">
      <ul class="flex flex-col p-4">
        <li>
          <button
            class="flex items-center w-full py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100"
            (click)="toggleDropdown()"
          >
            @if(isDropdownOpened){
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            }@else {
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
            }
            Todas as categorias
          </button>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100">Computadores</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100">Teclados</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100">Headphones</a>
        </li>
      </ul>
    </div>
  }

  @if(isDropdownOpened){
    <div class="white max-w-6xl mx-auto">
        <div class="grid px-4 py-5  text-gray-900 sm:grid-cols-2 md:px-6">
            <ul>
                <li>
                    <a href="#" class="block p-3 rounded-lg hover:bg-gray-100">
                        <div class="font-semibold">Online Stores</div>
                    </a>
                </li>
                <li>
                    <a href="#" class="block p-3 rounded-lg hover:bg-gray-100">
                        <div class="font-semibold">Segmentation</div>
                    </a>
                </li>
                <li>
                    <a href="#" class="block p-3 rounded-lg hover:bg-gray-100">
                        <div class="font-semibold">Marketing CRM</div>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#" class="block p-3 rounded-lg hover:bg-gray-100">
                        <div class="font-semibold">Online Stores</div>
                    </a>
                </li>
                <li>
                    <a href="#" class="block p-3 rounded-lg hover:bg-gray-100">
                        <div class="font-semibold">Segmentation</div>
                    </a>
                </li>
                <li>
                    <a href="#" class="block p-3 rounded-lg hover:bg-gray-100">
                        <div class="font-semibold">Marketing CRM</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
  }
</nav>
